html,
body {
     height: 100%;
}

.dropdown-toggle {
     outline: 0;
}

.nav-flush .nav-link {
     border-radius: 0;
}

.btn-toggle {
     display: inline-flex;
     align-items: center;
     padding: .25rem .5rem;
     font-weight: 600;
     color: rgba(0, 0, 0);
     background-color: transparent;
     border: 0;
}

.btn-toggle-nav a {
     display: inline-flex;
     padding: .1875rem .5rem;
     margin-top: .125rem;
     margin-left: 1.25rem;
     text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
     background-color: #000000;
}

.fw-semibold {
     font-weight: 600;
}

.lh-tight {
     line-height: 1.25;
}